Text {
	-fx-font-family: 'Montserrat SemiBold';
	-fx-fill: #4ab4d6;
	-fx-font-size: 14;
}

.ikonli-font-icon {
	-fx-icon-color: #5a5a5a;
    -fx-icon-size: 12;
}

.button {
	-fx-background-color: #e0e1e2;
	-fx-background-radius: 0 3 3 0;
	-fx-background-insets: 0;
	-fx-border-width: 0;
}

.button:hover {
	-fx-background-color: #cacbcd;
}

.button:hover .ikonli-font-icon {
	-fx-icon-color: #282929;
}

.text-field {
	-fx-background-color: white;
	-fx-background-radius: 3 0 0 3;
	-fx-background-insets: 0;
	-fx-border-width: 0.5;
	-fx-border-color: #dededf;
	-fx-border-radius: 3 0 0 3;
	-fx-border-insets: 0;
}

.text-field:focused {
	-fx-border-color: #4ab4d6;
}

.field-error .text-field {
	-fx-border-color: #e0b4b4;
	-fx-background-color: #fff6f6;
	-fx-text-fill: #be7675;
}

.field-error:focused .text-field {
	-fx-border-color: #e0b4b4;
	-fx-text-fill: #be7675;
}