.sidebar {
	-fx-background-color: #4ab4d6;
}

.header {
	-fx-fill: white;
	-fx-font-size: 35;
	-fx-font-family: 'Montserrat Light';
}

.subheader {
	-fx-opacity: 0.85;
}

Text {
	-fx-font-size: 17;
    -fx-font-family: 'Montserrat Light';
	-fx-fill: white;
}

.inactive {
	-fx-opacity: 0.75;
}

.inactive:hover {
	-fx-opacity: 1;
}

.logo FontIcon {
	-fx-icon-color: white;
	-fx-icon-size: 60;
}

.logo Text {
	-fx-font-family: 'Montserrat Medium';
	-fx-font-size: 35;
}